body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(136, 173, 241);
}
h1 {
    font-size: 36pt;
    display: block;
    text-align: center;
}
.lista-inteira {
    display: block;
    margin-left: 43%;
}
li {
    padding-bottom: 7px;
    font-size: 20pt;
    font-weight: bold;
}